<!doctype html>
<html>
  <head>
    <style>
      .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .card{
        width:350px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: white;
        text-align:center;
      }
    </style>
  </head>
  <body style="background-image: linear-gradient(to right, beige, grey)">
    <div class="container">
      {% comment %} <p>Total Count:{{products}} {% endcomment %}
      {% for product in products %} 
      <div class="card">
        <h3>{{forloop.counter}}.</h3>
        <p>Name: <b>{{ product.name }}</b></p>
        <p>Price: Rs. {{ product.price }}</p>
        <p>Category: {{ product.category.name }}</p>
      </div>
      {% endfor %} 
    </div>
  </body>
</html> 
